<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Download file - FileUpload</title>

		<!--CDN IMPORT OF Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>  
	</head>
	<body>
		<div class="jumbotron">
			<h1 class="display-4">Download your file!!</h1>
			<p class="lead">
				This is a simple hero unit, a simple jumbotron-style component for
				calling extra attention to featured content or information.
			</p>
			<hr class="my-4" />
			<p>
				Romland.Space and/or FileUpload have checked the content of the file and do not take any responibilty for the content. .
			</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button"
					>Learn more</a
				>
			</p>
		</div>
	</body>
</html>
