<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Download file - FileUpload</title>

		<!--CDN IMPORT OF Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>  
	</head>
	<body>
		<div id="downloadSquare">
			<h1>FileUpload</h1>
            <p>File: "iamnotavirus.exe"</p>
            <p>Size: 32MB</p>
            <button>Download</button>
            <p>Disclaimer: Romland.Space and/or FileUpload have not checked the file and cannot stand for it's content. Do not open a file you don't trust</p>
		</div>
	</body>
</html>
