<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Upload File - FileUpload</title>
		<script src="/js/upload.js" defer></script>
		<meta id="maxFileSize" maxFileSize="<%- maxFileSize %>" />
		<link rel="stylesheet" href="style/upload.css" />
		<!--CDN IMPORT OF Bootstrap -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div id="drop">Click or drop here to upload</div>
		<section id="upload" class="container-fluid">
			<section class="row justify-content-center">
				<section class="col-12 col-sm-6 col-md-3">
					<div class="form-container" id="fakeForm" hidden>
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="custom-file">
									<input
										class="custom-file-input"
										id="fileField"
										type="file"
										size="52428800"
										name="file"
									/>
									<label class="custom-file-label" id="fileName"
										>Choose file</label
									>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="Title">Title:</label>
							<input type="text" id="Title" required/>
						</div>
						<div class="form-group">
							<label for="Description">Description:</label>
							<input type="text" id="Description" required/>
						</div>
						<div class="form-group">
							<label for="maxDownlod">Max number of download:</label>
							<input type="number" id="maxDownload" required/>
						</div>
						<button id="uploadBtn" class="btn btn-primary btn-block" type="submit">
							Upload
						</button>
					</div>
				</section>
			</section>
		</section>
		<div id="message" hidden class="card">
			<div class="card-header">
			  Upload
			</div>
			<div class="card-body">
			  <h5 id="cardtitle" class="card-title">Your file was succesfully uploaded!</h5>
			  <p class="card-text">You can download the file from the following link:.</p>
			  <a href="#" class="btn btn-primary">Download</a>
			</div>
		  </div>
	</body>
</html>
