<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify your account! - FileUpload</title>

    <%- include('../partials/globalImport') %>

</head>
<body>
    <%- include('../partials/navbar') %>

    <h2>
        Welcome, <%- user.name %> 
    </h2>
    <p>Your need to activate your account before you can upload!<br>An email have been sent to <%- user.email %>.<br>Please click the link in the email to verify</p>
</body>
</html>